<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song player</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="loader-overlay"><div class="loader"></div></div>
    <div id="play-button-overlay"><button id="play-button">Play</button></div>
    <div id="spotify-auth-overlay"><a href="http://127.0.0.1:5000/auth/login" id="spotify-auth-button">Connect Spotify</a></div>
    <nav class="navbar"><h1>Stalker music player</h1></nav>
    <div class="sidebar">
        <ul>
            <li id="rostok_btn"><p>Rostok</p></li>
            <li id="slag_heap_btn"><p>Slag Heap</p></li>
            <li id="yaniv_btn"><p>Yaniv</p></li>
            <li id="stc_malachite_btn"><p>STC Malachite</p></li>
            <li id="kazkoviy_camp_btn"><p>Kazkoviy Camp</p></li>
            <li id="sultansk_btn"><p>Sultansk</p></li>
        </ul>
    </div>
    <div class="main-content">
        <video class="video-player" autoplay loop>
            <source src="/static/videos/rostok.mp4" type="video/mp4">
        </video>
        <button id="video-audio-popover" popovertarget="video-audio-controls">
            <img src="./static/audio.svg">
        </button>
        <div popover id="video-audio-controls" data-trigger="hover">
            <input type="range" id="volume-slider" min="0" max="1" step="0.01" value="0.5">
        </div>
    </div>
    <div class="spotify-player">
        <div class="track-info">
            <img id="track-image" alt="No image available" src="./static/noimage.svg">
            <div class="artist-info">
                <p id="track-name">Not playing</p>
                <p id="artist-name">No name</p>
            </div>
        </div>
        <div class="controls">
            <button id="prev-button">&lt;&lt;</button>
            <button id="play-pause-button">▶</button>
            <button id="next-button">&gt;&gt;</button>
            <div class="duration">
                <input type="range" id="track-duration" value="0" min="0" max="100" step="1">
            </div>
        </div>
        <div class="volume-input">
            <img id="audio-btn" src="./static/audio.svg">
            <input type="range" id="volume-slider" min="0" max="1" step="0.01" value="0.5">
        </div>
    </div>
    <footer class="footer"><p>Contact us: email@example.com</p></footer>
</body>
<script type="module" src="/static/script.js"></script>
<script src="https://sdk.scdn.co/spotify-player.js"></script>
</html>