<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song player</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="loader-overlay"><div class="loader"></div></div>
    <div id="play-button-overlay"><button id="play-button">Play</button></div>
    <div id="spotify-auth-overlay"><a href="http://127.0.0.1:5000/auth/login" id="spotify-auth-button">Connect Spotify</a></div>
    <nav class="navbar"><h1>Stlaker music player</h1></nav>
    <div class="sidebar">
        <ul>
            <li id="rostok_btn"><p>Rostok</p></li>
            <li id="terikon_btn"><p>Terikon</p></li>
        </ul>
    </div>
    <div class="main-content">
        <video class="video-player" autoplay loop>
            <source src="/static/rostok_day.mp4" type="video/mp4">
        </video>
    </div>
    <div class="spotify-player">
        <img class="track-image" id="track-image" alt="">
        <div class="track-info">
            <p id="track-name" class="track-name">Not playing</p>
            <p id="artist-name" class="artist-name">No name</p>
        </div>
        <div class="controls">
            <button id="prev-button">&lt;&lt;</button>
            <button id="play-pause-button">▶</button>
            <button id="next-button">&gt;&gt;</button>
            <input type="range" id="volume-slider" min="0" max="1" step="0.01" value="0.5">
        </div>
        <div class="duration">
            <input type="range" id="track-duration" value="0" min="0" max="10" step="0.01">
        </div>
    </div>
    <footer class="footer"><p>Contact us: email@example.com</p></footer>
</body>
<script type="module" src="/static/script.js"></script>
<script src="https://sdk.scdn.co/spotify-player.js"></script>
</html>