@font-face{
    font-family: 'AmazS.T.A.L.K.E.R.Italic';
    src: url('../static/AmazS.T.A.L.K.E.R.Italic.ttf') format('truetype');
}
@font-face{
    font-family: 'Capture it';
    src: url('../static/Capture\ it.ttf') format('truetype');
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 20em 1fr;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas: 
    "navbar navbar"
    "sidebar main"
    "spotify-player spotify-player"
    "footer footer";
    position: relative;
    font-family: 'Capture it';
}
#loader-overlay{
    position: fixed;
    display: flex;
    visibility: visible;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.982);
    z-index: 2;
}
.loader {
    transform: translate(-50%, -50%);
    border: 16px solid #000000;
    border-top: 16px solid #bacb00;
    border-radius: 50%;
    width: clamp(40px, 6vw, 120px);
    height: clamp(40px, 6vw, 120px);
    animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#play-button-overlay{
    position: fixed;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.84);
    z-index: 2;
}
#play-button{
    font-size: clamp(20px, 3vw, 60px);
    padding: 0.5em 1em;
    cursor: pointer;
}
#spotify-auth-overlay{
    position: fixed;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.84);
    z-index: 2;
}
#spotify-auth-button{
    font-size: clamp(20px, 3vw, 60px);
    padding: 0.5em 1em;
    cursor: pointer;
    color: white;
    background-color: rgb(31, 31, 31);
    border: 1px solid #bacb00;
    text-decoration: none;
}
.navbar{
    grid-area: navbar;
    display: flex;
    align-items: center;
    color: white;
    background-color: rgb(31, 31, 31);
    font-family: 'AmazS.T.A.L.K.E.R.Italic';
    border-bottom: 1px solid #bacb00;
    padding: 1rem;
    min-height: 4em;
    margin: 0;
}
.navbar h1{
    margin: 0;
    font-size: 2.5rem;
}
.sidebar{
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'AmazS.T.A.L.K.E.R.Italic';
    font-size: 6em;
    background-color: rgb(31, 31, 31);
    color: white;
    border-right: 1px solid #bacb00;
    padding: 0;
}
.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar li p{
    cursor: pointer;
    font-size: 2rem;
}
.sidebar li{
    width: 100%;
    display: flex;
    margin-top: 16px;
    justify-content: center;
}
.sidebar li p{
    font-family: 'Capture it';
    font-size: 1.5rem;
    display: flex;
    margin: 0;
    justify-content: center;
}
.sidebar li p:hover{
    color: #000000;
    background-color: #ffffff;
}
.main-content{
    display: flex;
    grid-area: main;
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    max-height: 32em;
    width: 100%;
    min-width: 0;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-area: footer;
    background-color: rgb(40, 40, 40);
    color: white;
    min-height: 3em;
    padding: 1em;
    margin: 0;
    font-size: 0.8em;
}
#github-link{
    width: 3em;
    height: 3em;
    cursor: pointer;
}
#github-link img{
    width: 100%;
    height: 100%;
}
.video-player{
    flex-grow: 1;
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin: 0;
    padding: 0;
}
.spotify-player{
    grid-area: spotify-player;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
    max-height: 8em;
    min-width: 0;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid #bacb00;
    border-top: 1px solid #bacb00;
}
#play-pause-button img{
    width: 2em;
    background: transparent;
    cursor: pointer;
}
.controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#prev-button, #play-pause-button, #next-button{
    background: transparent;
    border: none;
    padding: 0;
    margin: 0 1em;
}
#prev-button img{
    width: 2em;
    transform: rotate(180deg);
    background: transparent;
    cursor: pointer;
}
#next-button img{
    width: 2em;
    background: transparent;
    cursor: pointer;
}
.duration {
    flex-basis: 100%;
    margin-top: 0.5em;
}
.track-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: 20em;
}
.track-info img{
    max-height: 8em;
    border: white solid 1px;
    border-radius: 5px;
    margin-right: 1em;
}
.artist-info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: medium;
    justify-content: center;
}
.artist-info p{
    color: white;
    margin: 0;
    padding: 0;
}
.volume-input{
    display: flex;
    align-items: center;
    background: transparent;
}
.volume-input img{
    width: 3em;
    margin-right: 0.5em;
    cursor: pointer;
}
.volume-input input[type="range"]{
    width: 8em;
    height: 0.4em;
    background: #bacb00;
    border-radius: 4px;
    outline: none;
    accent-color: #bacb00;
    transition: background 0.3s;
    margin: 0 0.5em;
}
.volume-input input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: #222;
    border: 2px solid #bacb00;
    cursor: pointer;
    transition: background 0.3s;
}
.volume-input input[type="range"]::-moz-range-thumb {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: #222;
    border: 2px solid #bacb00;
    cursor: pointer;
}
.volume-input input[type="range"]::-ms-thumb {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: #222;
    border: 2px solid #bacb00;
    cursor: pointer;
}
.volume-input input[type="range"]:focus::-webkit-slider-thumb {
    background: #bacb00;
}
.volume-input input[type="range"]::-moz-range-thumb {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: #222;
    border: 2px solid #bacb00;
    cursor: pointer;
}
.volume-input input[type="range"]:focus::-moz-range-thumb {
    background: #bacb00;
}
.volume-input input[type="range"]::-ms-thumb {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: #222;
    border: 2px solid #bacb00;
    cursor: pointer;
}
.volume-input input[type="range"]:focus::-ms-thumb {
    background: #bacb00;
}
.volume-input input[type="range"]::-ms-fill-lower {
    background: #bacb00;
}
.volume-input input[type="range"]::-ms-fill-upper {
    background: #bacb00;
}
.volume-input input[type="range"]:focus {
    outline: none;
}

.duration input[type="range"] {
    width: 100%;
    height: 0.5em;
    background: #bacb00;
    border-radius: 4px;
    outline: none;
    accent-color: #bacb00;
    transition: background 0.3s;
}
.duration input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    background: #222;
    border: 2px solid #bacb00;
    cursor: pointer;
    transition: background 0.3s;
}
.duration input[type="range"]:focus::-webkit-slider-thumb {
    background: #bacb00;
}
.duration input[type="range"]::-moz-range-thumb {
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    background: #222;
    border: 2px solid #bacb00;
    cursor: pointer;
}
.duration input[type="range"]:focus::-moz-range-thumb {
    background: #bacb00;
}
.duration input[type="range"]::-ms-thumb {
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    background: #222;
    border: 2px solid #bacb00;
    cursor: pointer;
}
.duration input[type="range"]:focus::-ms-thumb {
    background: #bacb00;
}
.duration input[type="range"]::-ms-fill-lower {
    background: #bacb00;
}
.duration input[type="range"]::-ms-fill-upper {
    background: #bacb00;
}
.duration input[type="range"]:focus {
    outline: none;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
}
input[type="range"]:focus {
    outline: none;
}